<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>商品の購入</title>
</head>
<body>
<h1>商品の購入</h1>
<form action="" method="post">
  <table>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>購入個数</th>
    </tr>
    <tr>
      <td th:text="${item.name}"></td>
      <td>[[${item.price}]]円</td>
      <td>
        <input type="number" name="unit" th:value="${unit}" min="0" max="10">個
      </td>
    </tr>
  </table>
	<input type="hidden" name="id" th:value="${item.id}">	
  <input type="submit" value="カートに入れる">
</form>
<p><a href="/">商品一覧に戻る</a></p>
<p><a href="/cart">カートを見る</a></p>
</body>
</html>